Source: mtd-utils
Section: utils
Priority: extra
Maintainer: Riku Voipio <riku.voipio@iki.fi>
Uploaders: Otavio Salvador <otavio@debian.org>
Build-Depends: debhelper (>= 5.0), zlib1g-dev, libacl1-dev, liblzo2-dev
Standards-Version: 3.7.2

Package: mtd-utils
Architecture: any
Depends: ${shlibs:Depends}
Provides: mtd-tools
Conflicts: mtd-tools
Replaces: mtd-tools
Description: memory Technology Device Tools
 Tools for manipulating memory technology devices, such as flash
 memory, Disk-On-Chip, or ROM.  Includes mkfs.jffs2, a tool to
 create JFFS2 (journaling flash file system) filesystems.
